In [23]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [17]:
df = pd.read_csv('cars24-car-price-clean2.csv')
df.head()

,selling_price,year,km_driven,mileage,engine,max_power,make,model,transmission_type,seats_coupe,seats_family,seats_large,fuel_cng,fuel_diesel,fuel_electric,fuel_lpg,fuel_petrol,seller_dealer,seller_individual,seller_trustmark dealer
0,1.20,2012.0,120000,19.70,796.0,46.30,Maruti,Alto Std,1,0,1,0,0,0,0,0,1,0,1,0
1,5.50,2016.0,20000,18.90,1197.0,82.00,Hyundai,Grand i10 Asta,1,0,1,0,0,0,0,0,1,0,1,0
2,2.15,2010.0,60000,17.00,1197.0,80.00,Hyundai,i20 Asta,1,0,1,0,0,0,0,0,1,0,1,0
3,2.26,2012.0,37000,20.92,998.0,67.10,Maruti,Alto K10 2010-2014 VXI,1,0,1,0,0,0,0,0,1,0,1,0
4,5.70,2015.0,30000,22.77,1498.0,98.59,Ford,Ecosport 2015-2021 1.5 TDCi Titanium BSIV,1,0,1,0,0,1,0,0,0,1,0,0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19820 entries, 0 to 19819
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   selling_price            19820 non-null  float64
 1   year                     19820 non-null  float64
 2   km_driven                19820 non-null  int64
 3   mileage                  19820 non-null  float64
 4   engine                   19820 non-null  float64
 5   max_power                19820 non-null  float64
 6   make                     19820 non-null  object
 7   model                    19820 non-null  object
 8   transmission_type        19820 non-null  int64
 9   seats_coupe              19820 non-null  int64
 10  seats_family             19820 non-null  int64
 11  seats_large              19820 non-null  int64
 12  fuel_cng                 19820 non-null  int64
 13  fuel_diesel              19820 non-null  int64
 14  fuel_electric            19820 non-null  int64
 15  fuel_lpg                 19820 non-null  int64
 16  fuel_petrol              19820 non-null  int64
 17  seller_dealer            19820 non-null  int64
 18  seller_individual        19820 non-null  int64
 19  seller_trustmark dealer  19820 non-null  int64
dtypes: float64(5), int64(13), object(2)
memory usage: 3.0+ MB

In [19]:
df['make'].nunique()

42

In [20]:
label_encoder = preprocessing.LabelEncoder()
df['make'] = label_encoder.fit_transform(df['make'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19820 entries, 0 to 19819
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   selling_price            19820 non-null  float64
 1   year                     19820 non-null  float64
 2   km_driven                19820 non-null  int64
 3   mileage                  19820 non-null  float64
 4   engine                   19820 non-null  float64
 5   max_power                19820 non-null  float64
 6   make                     19820 non-null  int32
 7   model                    19820 non-null  object
 8   transmission_type        19820 non-null  int64
 9   seats_coupe              19820 non-null  int64
 10  seats_family             19820 non-null  int64
 11  seats_large              19820 non-null  int64
 12  fuel_cng                 19820 non-null  int64
 13  fuel_diesel              19820 non-null  int64
 14  fuel_electric            19820 non-null  int64
 15  fuel_lpg                 19820 non-null  int64
 16  fuel_petrol              19820 non-null  int64
 17  seller_dealer            19820 non-null  int64
 18  seller_individual        19820 non-null  int64
 19  seller_trustmark dealer  19820 non-null  int64
dtypes: float64(5), int32(1), int64(13), object(1)
memory usage: 2.9+ MB

In [15]:
X= df.drop(columns=['selling_price','model'])
y=df['selling_price']

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=42)

In [24]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [25]:
y_predict=model.predict(X_test)